*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#root{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(75, 91, 91);
}

.container{
  display: grid;
  grid-template-rows: 20vh 80vh;
  grid-template-columns: 30vw;
  justify-content: center; 
  background-color: rgb(75, 91, 91);

}

.container-button{
  width: 100%;
}

.container-nav-button{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button-cont{
  padding: 10px 20px;
}

.button{
  border-style: none;
  background-color: rgb(75, 91, 91);
  font-size: 1.5rem;
}

.history-button{
  display: none;
}

.container-square{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.square-container-items{
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
}

.square-item{
  width: 100px;
}

.square{
  width:100%;
  height:100% ;
  font-size: 3.4rem;
  border: solid 2px black;
  background-color: rgb(75, 91, 91);

}

.square-0{
  border-left: none;
  border-top: none; 
}

.square-1{
  border-top: none; 
}

.square-2{
  border-right: none;
  border-top: none; 
}

.square-3{
  border-left: none;
}

.square-5{
  border-right: none; 
}

.square-6{
  border-left: none;
  border-bottom: none; 
}

.square-7{
  border-bottom: none; 
}

.square-8{
  border-right: none;
  border-bottom: none; 
}

.button-History{
  display: none;
}
