*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

.container{
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 3% ;
}

.container-square{
  height: auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
  grid-row: 0;
  grid-column: 0;
}

.square-container{
  border: solid black 1px;
  margin: 0;
  padding: 0;
  height: 150px;
  width: 150px;
}

.square{
  width: 100%;
  height: 100%;
  font-size: 4.5rem;
  border: none;
  background-color: white;
}

.square-item-0{
  border-left: none;
  border-top: none; 
}

.square-item-1{
  border-top: none; 
}

.square-item-2{
  border-right: none;
  border-top: none; 
}

.square-item-3{
  border-left: none;
}

.square-item-5{
  border-right: none; 
}

.square-item-6{
  border-left: none;
  border-bottom: none; 
}

.square-item-7{
  border-bottom: none; 
}

.square-item-8{
  border-right: none;
  border-bottom: none; 
}

.container-button{
  width: 100%;
  height: auto;
}

.container-nav-button{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.nav-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}

.button{
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: 3rem;
}

.button-Undo{
  border: none;
}

.button-Redo{
  border: none;
}

.button-Restart{
  border: none;
}

.button-History{
  display: none;
}